:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #eff0f3;
  background-color: #2a2a2a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ColourBox {
  width: 10%;
  height: 10%;
}

.BoxGrid {
  width: 400px;
  height: 400px;
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
}

p {
  font-size: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2a2a2a;
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    font-size: smaller;
  }
}
